<div mat-dialog-title class="dialog-header">
    <span>Order Details</span>
    <button mat-icon-button mat-dialog-close aria-label="Close" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="order-dialog-content">
    <p style="font-size: 18px; letter-spacing: 1px"><b>Order Placed </b> {{ data.selectedOrder.orderDate}}</p>
    <div class="top-box">
        <div class="order-detail-info">
            <h4>Ship To</h4>
            <h3>{{ data.selectedOrder.shippingAddress?.userName }}</h3>
            <p> {{ data.selectedOrder.shippingAddress?.flatNo }} <br> {{
                data.selectedOrder.shippingAddress?.addressLine1 }}
                <span *ngIf="data.selectedOrder.shippingAddress?.addressLine2">, {{
                    data.selectedOrder.shippingAddress?.addressLine2
                    }}</span>
            </p>
            <p>{{ data.selectedOrder.shippingAddress?.state }}, {{ data.selectedOrder.shippingAddress?.country
                }} - {{ data.selectedOrder.shippingAddress?.zipCode }}</p>
            <p>Mobile: {{ data.selectedOrder.shippingAddress?.phoneNumber }}</p>
        </div>
        <div class="order-detail-info">
            <h4>Order #{{ data.selectedOrder.id }}</h4>
            <h3>{{ data.selectedOrder.status }}</h3>
        </div>
        <div class="order-detail-info">
            <h4>Order Summary</h4>
            <table class="order-detail-info-table">
                <tr>
                    <td>Item(s) Price</td>
                    <td>{{ data.selectedOrder.items[0].product.discPrice | currency:'INR':'symbol' }}</td>
                </tr>
                <tr>
                    <td>Shipping Charge</td>
                    <td>{{ 0 | currency:'INR':'symbol' }}</td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td>{{ data.selectedOrder.total | currency:'INR':'symbol' }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom-box">
        <div *ngFor="let item of data.selectedOrder.items" class="order-item-detail-container">
            <div class="order-item-detail">
                <img [src]="'assets/products/' + item.product.imageUrl" alt="{{item.product.imageUrl}}"
                    class="image-store" />
                <div class="order-item-details">
                    <h3>{{ item.product.name }}</h3>
                    <p>{{ item.product.description }}</p>
                </div>
            </div>
            @if(data.selectedOrder.status !== 'Delivered'){
            <div class="order-support">
                <button class="table-btn">Track Order</button>
            </div>}
            @if(data.selectedOrder.status === 'Delivered'){
            <div class="order-support">
                <button class="table-btn">Return Item</button>
                <button class="table-btn">Get Invoice</button>
                <button class="table-btn">Reorder</button>
            </div>}
        </div>
    </div>
</mat-dialog-content>