.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.close-button {
    width: 48px;
    height: 48px;
    transition: background-color .5s ease, transform 0.4s ease;
    color: var(--primary) !important;
    background: var(--bg-btn);
}

.close-button mat-icon {
    transition: color 0.3s ease;
}

.close-button:hover {
    background-color: var(--bg-btn);

    mat-icon {
        color: var(--white-text);
    }
}

.order-dialog-content .top-box {
    display: flex;
    justify-content: space-between;
    padding: var(--mb-2) var(--mb-4);
    margin: var(--mb-2) 0;
    border-radius: 12px;
}

.order-detail-info {
    display: flex;
    flex-direction: column;
}

.order-detail-info h4 {
    color: var(--primary);
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    letter-spacing: 1px;
    padding-bottom: var(--mb-0);
}

.order-detail-info-table {
    display: flex;
    flex-direction: column;
    gap: var(--mb-1);
    padding: 0;

    tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--mb-4);

        td {
            color: var(--gray-900);
            font-size: var(--h3-font-size);
        }
    }

    tr:last-of-type td:first-of-type {
        padding-right: 3rem;
        font-weight: var(--font-bold);
    }
}

.order-items-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mb-2);
}

.order-item-detail-container {
    padding: var(--mb-1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--border);
}

.order-item-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.order-item-container .order-item:last-child {
    border-bottom: none;
}

.order-item-detail .image-store {
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border);
    border-radius: 12px;
}

.order-item-detail .order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: var(--mb-2);
    text-align: left;
}

.order-item-detail .order-item-details p {
    color: var(--gray-700);
}

.order-support {
    display: flex;
    flex-direction: column;
    gap: var(--mb-2);
    min-width: 170px;
}

.order-support :not(:first-child) {
    background: none;
    color: var(--accent);
    border: 1px solid var(--primary);
}