.main-content {
    display: flex;
    flex-direction: row;
}

.tabs {
    position: relative;
    margin: 20px 0;
}

.progress-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    background: var(--accent);
    z-index: 1;
}

.step {
    position: relative;
    z-index: 2;
    padding: .5rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: .9rem;
    text-align: center;
    animation: fadeIn .3s ease-out;
    border: 1px solid var(--border);
    background: var(--bg);
    color: #2b069a;
    font-weight: var(--font-semi-bold);
    box-shadow: 0 5px 5px color-mix(in srgb, var(--electric-violet) 10%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background 0.3s ease, color 0.5s ease;
}

.step.active {
    border: none;
    background: var(--electric-violet);
    color: var(--white-text);
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.nav-buttons {
    margin-top: 12px;
}

.nav-buttons button:last-child {
    float: inline-end;
}

.nav-buttons .nav-btn {
    margin: 6px;
    padding: 6px 12px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

/* ========== LEFT PANEL ==========*/
.left-section {
    flex: 0 0 75%;
    position: relative;
}

.tabs {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.tab {
    user-select: none;
    outline: none;
    padding: .5rem 2rem;
    border-radius: 8px;
    font-size: .9rem;
    text-align: center;
    animation: fadeIn .3s ease-out;
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    font-weight: var(--font-semi-bold);
}

.tab:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}

.tab.active {
    background: color-mix(in srgb, var(--electric-violet) 30%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.panel {
    padding: 1rem;
    background: var(--bg);
}

/* ========== ADDRESS ==========*/
.address-list-container {
    padding: 20px;
}

.address-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.address-card {
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 700px;
    cursor: pointer;
}

.address-card:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}

.selected-address {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    border: 2px solid #a686ef;
}

/* ========== PAYMENT METHOD ==========*/
.payment-btn-options {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.option {
    margin: 1rem 0;
    padding: 0.5rem;
    color: #2b069a;
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-width: 700px;
    max-width: 800px;
}

.option:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    border-color: #a686ef;
}

.selected {
    background: color-mix(in srgb, var(--electric-violet) 15%, transparent);
    border: 2px solid var(--accent);
}

.option img {
    max-height: 40px;
    height: auto;
    width: auto;
}

.option .text h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
}

.option .text p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: var(--normal-font-size);
    letter-spacing: 0.5px;
}

.payment-btn {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.payment-btn .button__text {
    width: 310px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.payment-btn .button__icon {
    position: absolute;
    left: -100px;
    transition: left 0.3s ease;
}

.payment-btn .upi-opt {
    position: absolute;
    right: -260px;
    transition: right .8s ease;
}

.payment-btn img {
    height: 33px;
    width: auto;
}

.payment-btn:hover {
    background: none;
    color: var(--dark-text);
}

.payment-btn:hover .button__text {
    transform: translateX(45px);
}

.payment-btn:hover .button__icon {
    left: 0;
}

.payment-btn:hover .upi-opt {
    right: 10px;
}

.upi-opts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.upi-option {
    margin: 1rem 0;
    padding: 0.5rem;
    color: #2b069a;
    border: 1px solid var(--accent);
    cursor: pointer;
    border-radius: 12px;
}

.upi-option:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    border-color: #a686ef;
}

.selected-upi {
    background: var(--warning);
}

/* ========== REVIEW ORDER ==========*/
.review-order-container {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: color-mix(in srgb, var(--electric-violet) 2%, transparent);
}

.cart-line {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-items-container {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 12px;
    min-width: 250px;
    padding-bottom: 2rem;
    border-bottom: 1px solid color-mix(in srgb, var(--electric-violet) 25%, transparent);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.order-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.order-items>div {
    flex: 0 0 30%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.order-item {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border);
    border-radius: 8px;
    min-width: 400px;
}

.order-item .image-store {
    height: 100px;
    object-fit: contain;
}

.order-item .order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.order-item .order-item-details p {
    color: #a1a1aa;
    font-size: 11px;
    font-weight: var(--font-medium);
}

.details-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.details-line>div {
    flex: 0 0 30%;
    box-sizing: border-box;
}

.review-address,
.review-payment,
.review-shipping {
    background: var(--primary);
    color: var(--white-text);
    border: none;
    border-radius: 8px;
    height: 170px;
}

.review-card {
    padding: 1rem;
    background: var(--bg);
    color: var(--gray-900);
    border: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    min-width: 300px;
    height: 140px;
    display: flex;
    flex-direction: row;
}

.review-card h3 {
    color: var(--gray-900);
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
}

.review-card img {
    margin-left: 10px;
    height: 1.5rem;
}

.review-address-card {
    padding: 1rem;
    background: var(--bg);
    border: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    min-width: 300px;
    height: 140px;
}

.review-address-card h3 {
    color: var(--gray-900);
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
}

.review-address-card P {
    color: var(--gray-700);
    font-size: var(--normal-font-size);
    padding: 2px;
}

/* ========== RIGHT PANEL ==========*/
.right-section {
    flex: 0 0 15%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 2rem;
    padding: 1rem;
    background-color: var(--bg-accent);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    height: 100vh;
}

.right-section .value {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-section hr {
    height: 1px;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    font-size: 0;
    border: 0;
}

.right-section .checkout {
    width: 100%;
    flex-direction: flex-end;
    padding: 0.75rem;
    background-color: var(--bright-blue);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

@media screen and (max-width: 1000px) {
    .step {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .left-section {
        flex: 0 0 55%;
        position: relative;
    }

    .right-section {
        flex: 0 0 40%;
    }

    .right-section .value {
        padding: 0;
    }
}

@media screen and (max-width: 1600px) {
    .left-section {
        flex: 0 0 65%;
        position: relative;
    }

    .right-section {
        flex: 0 0 20%;
    }

    .right-section .value {
        padding: 0;
    }
}

@media screen and (max-width: 1900px) {
    .right-section {
        flex: 0 0 25%;
    }
}