<nav class="navbar" *ngIf="menuType !== 'auth'">
    <div class="nav-container">
        <div class="brand">
            <img src="public/assets/image/eshopLogo.png" alt="E-Shop Logo" height="40">
        </div>

        <div *ngIf="menuType=== 'default'" class="search-container">
            <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" placeholder="Search products..." />
        </div>
        <div class="nav-links desktop" [ngSwitch]="menuType">
            <a *ngSwitchCase="'default'" routerLink="/">Home</a>
            <a *ngSwitchCase="'default'" routerLink="/shop">Shop</a>
            <a *ngSwitchCase="'default'" routerLink="/cart">Cart</a>
            <a *ngSwitchCase="'default'" routerLink="/seller-home">Seller</a>
            <a *ngSwitchCase="'default'" class="login-btn" routerLink="/log-in">Log In</a>

            <a *ngSwitchCase="'seller'" routerLink="/seller-home">Home</a>
            <a *ngSwitchCase="'seller'" routerLink="/seller-product">Add Product</a>
            <div class="dropdown" *ngSwitchCase="'seller'">
                <button class="dropdown-toggle">
                    <fa-icon [icon]="userIcon"></fa-icon> {{ sellerName }}
                </button>
                <div class="dropdown-menu">
                    <a routerLink="/profile">
                        <fa-icon [icon]="profileIcon"></fa-icon> Profile
                    </a>
                    <a class="logout-link" (click)="logOut()">
                        <fa-icon [icon]="logoutIcon"></fa-icon> Logout
                    </a>
                </div>
            </div>
        </div>

        <div class="menu" [ngClass]="{ 'active': isMenuOpen }" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="nav-links mobile" *ngIf="isMenuOpen">
        <a routerLink="/" (click)="toggleMenu()">Home</a>
        <a routerLink="/shop" (click)="toggleMenu()">Shop</a>
        <a routerLink="/cart" (click)="toggleMenu()">Cart</a>
        <a routerLink="/seller-auth" (click)="toggleMenu()">Seller</a>
        <a class="login-btn" routerLink="/log-in" (click)="toggleMenu()">Log In</a>
    </div>
</nav>