<div class="product">
    @if (product.isOnSale) {
    <div class="saleBadge">RAINY SALE</div>
    }
    <fa-icon [icon]="isWished ? prodWished : prodWish" (click)="onHeartClick()" class="wishBadge">
    </fa-icon>
    <div class="prod-img"> <img [src]="'assets/image/products/' + product.imageUrl" alt="{{product.imageUrl}}" />
    </div>
    <div class="prod-info">
        <div class="prod-category">{{ product.brand }}</div>
        <h2 class="prod-title">{{ truncateName(product.name) }}</h2>
        <p class="prod-desc">{{ truncateDesc(product.description) }}</p>
        <div class="prod-features">
            <span class="prod-feature">{{ product.color}}</span>
            <span class="prod-feature">30-Hour Battery</span>
            <span class="prod-feature">200mp camera</span>
        </div>
        <div class="bottom-section">
            <div class="prod-price">
                <span class="base-price" style="text-decoration: none;" *ngIf="product.quantity === 0"> ₹{{
                    product.price }}</span>
                <span class="base-price" *ngIf="product.quantity > 0"> ₹{{ product.price }}</span>
                <span class="disc-price" *ngIf="product.quantity > 0"> ₹{{ product.discPrice }}</span>
            </div>
            <button class="addToCart" *ngIf="product.quantity > 0">
                <span>Add to Cart</span><fa-icon class="cartIcon" [icon]="cart"></fa-icon>
            </button>
        </div>
        <div class="stock outOfStock" *ngIf="product.quantity === 0">Out Of Stock</div>
        <div class="meta" *ngIf="product.quantity > 0">
            <div class="prod-feature" *ngIf="product.rating === 0.0">Be the First One To purchase</div>
            <div class="prod-rating" *ngIf="product.rating !== undefined && product.rating > 0.5">
                <svg *ngFor="let n of maxStars" class="star" viewBox="0 0 24 24">
                    <defs>
                        <linearGradient [id]="'grad-' + product.id + '-' + n" x1="0" x2="100%" y1="0" y2="0">
                            <stop offset="0%" stop-color="orange" />
                            <stop [attr.offset]="getFill(n, product.rating)" stop-color="#F55E0B" />
                            <stop [attr.offset]="getFill(n, product.rating)" stop-color="#888" />
                            <stop offset="100%" stop-color="#888" />
                        </linearGradient>
                    </defs>
                    <path [attr.fill]="'url(#grad-' + product.id + '-' + n + ')'"
                        d="M12 2l2.9 6.9L22 9.3l-5 5 1.2 7.7L12 18l-6.2 4 1.2-7.7-5-5 7.1-0.4L12 2z" />
                </svg>
                <span class="rating-count"></span>
            </div>
            <div class="stock isInStock" *ngIf="product.quantity > 10">In Stock</div>
            <div class="stock runningOut" *ngIf="product.quantity > 0 && product.quantity <= 10">only {{
                product.quantity }} left</div>
        </div>
    </div>
</div>