<div class="form-overlay">
  <div class="sign-container">
    <div class="form-container">
      <h1>User Sign Up</h1>
      <p class="subtitle">Sign up to get started</p>

      <form (ngSubmit)="signUp(user)">
        <div class="input-group">
          <input type="text" [(ngModel)]="user.name" name="name" placeholder="User Name" required>
        </div>

        <div class="input-group">
          <input type="email" [(ngModel)]="user.email" name="email" placeholder="Your Email" required>
        </div>

        <div class="input-group">
          <input type="text" [(ngModel)]="user.phoneNo" name="phno" placeholder="Your Phone No." required>
        </div>

        <div class="input-group">
          <select [(ngModel)]="user.gender" name="gender" required class="custom-select">
            <option disabled value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <span class="custom-arrow"></span>
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="user.password" name="password" placeholder="Create Password" required>
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword"
            placeholder="Confirm Password" required>
        </div>

        <p *ngIf="passwordMismatch" class="message error">Passwords do not match!</p>
        <p *ngIf="user.password && !isPasswordValid(user.password)" class="message error">
          Password must contain uppercase, lowercase, number, and special character.
        </p>
        <p *ngIf="user.password && !isPasswordLong(user.password)" class="message error">
          Password is not long enough.
        </p>

        <p *ngIf="user.password && isPasswordValid(user.password) && isPasswordLong(user.password) && !passwordMismatch"
          class="message success">
          Valid Password.
        </p>

        <button type="submit" class="main-btn" style="margin-bottom: 1rem;">CREATE AN ACCOUNT</button>
        <p *ngIf="duplicateUser" class="message error">{{ duplicateUser }}</p>

        <p class="login-link">
          Already have an account?
          <a routerLink="/log-in" class="login-link">LOG IN</a>
        </p>
      </form>
    </div>
  </div>
</div>