<div class="form-overlay">
  <div class="sign-container">
    <div class="form-container">
      <h2>Seller Sign Up</h2>
      <p class="subtitle">Sign up to get started</p>

      <form (ngSubmit)="signUp(seller)">
        <div class="input-group">
          <input type="text" [(ngModel)]="seller.name" name="name" placeholder="Name" required>
        </div>

        <div class="input-group">
          <input type="email" [(ngModel)]="seller.email" name="email" placeholder="Your Email" required>
        </div>

        <div class="input-group">
          <input type="text" [(ngModel)]="seller.phno" name="phno" placeholder="Your Phone No." required>
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="seller.password" name="password" placeholder="Create Password" required>
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="seller.confirmPassword" name="confirmPassword"
            placeholder="Confirm Password" required>
        </div>

        <p *ngIf="passwordMismatch" class="message error">Passwords do not match!</p>
        <p *ngIf="seller.password && !isPasswordValid(seller.password)" class="message error">
          Password must contain uppercase, lowercase, number, and special character.
        </p>
        <p *ngIf="seller.password && !isPasswordLong(seller.password)" class="message error">
          Password is not long enough.
        </p>

        <button type="submit" class="main-btn">CREATE AN ACCOUNT</button>
        <p *ngIf="duplicateSeller" class="message error">{{ duplicateSeller }}</p>

        <p class="login-link">
          Already have an account?
          <a routerLink="/log-in" class="login-link">Log In</a>
        </p>
      </form>
    </div>
  </div>
</div>