.tabs {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid var(--border);
}

.tab {
    cursor: pointer;
    user-select: none;
    outline: none;
    margin: var(--mb-1) var(--mb-4);
    margin-bottom: 0;
    padding-bottom: var(--mb-2);
    font-size: .9rem;
    text-align: center;
    color: var(--primary);
    font-weight: var(--font-semi-bold);
}

.tab:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
}

.tab.active {
    border-bottom: 3px solid #a686ef;
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    animation: fadeIn 1.3s ease-out;
}

.panel {
    padding: 1rem;
    background: var(--bg);
}

.info-right {
    font-size: var(--h3-font-size);
    word-spacing: var(--mb-2);
}

.seller-order {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

.seller-order th {
    color: var(--white-text);
    background: var(--dark-text);
    border: 1px solid var(--border);
    border-top: none;
    border-bottom: 4px solid var(--bg-btn);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-normal);
}

.seller-order th:first-child {
    border-left: none;
    border-top-left-radius: 20px;
}

.seller-order th:last-child {
    border-right: none;
    border-top-right-radius: 20px;
}

.seller-order tr {
    color: var(--dark-text);
}

.seller-order tr:hover td.hoverable {
    color: var(--light-text);
    background: var(--hover-bg);
}

.seller-order td {
    background: var(--bg-white);
    padding: var(--mb-1);
    max-height: 50px;
    text-align: left;
    vertical-align: middle;
    font-weight: var(--font-slim);
    font-size: var(--normal-font-size);
    border: none;
}
