.cart-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.empty-cart {
    text-align: center;
    align-items: center;
    padding: 5vh 0;
}

.empty-cart h2 {
    line-height: 2rem;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.empty-cart p {
    line-height: 2rem;
    max-width: 500px;
    margin: auto;
}

.empty-cart-icon {
    width: 150px;
    height: 150px;
    border: 2px solid var(--primary);
    margin-bottom: 2rem;
    border-radius: 50%;
}

/* store item component */
.cart-item {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border);
    text-align: center;
}

.cart-item .image-store {
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.cart-item .cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cart-item .cart-item-actions p {
    text-decoration: line-through;
    color: #a1a1aa;
    font-size: 11px;
    font-weight: var(--font-medium);
}

.cart-total {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 1rem;
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--border);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
}

.cart-total .value {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-total hr {
    height: 1px;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    font-size: 0;
    border: 0;
}

.cart-total .checkout {
    width: 100%;
    flex-direction: flex-end;
    padding: 0.75rem;
    background-color: var(--bright-blue);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

@media screen and (max-width: 768px) {
    .cart-card {
        box-shadow: none;
        margin: 0;
        margin-top: 1rem;
        padding: 1rem 0;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 550px) {
    .cart-container {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .cart-card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 1rem 0;
        border: none;
        border-radius: 0;
        width: 100vw;
        height: auto;
    }

    .cart-item {
        width: 95%;
        padding: 10px 0;
    }

    .cart-item .image-store {
        height: 80px;
        border-radius: 0;
    }

    .cart-item .cart-item-details {
        gap: 0.5rem;
        margin: 0 0.3rem;
    }

    .cart-item-details h3 {
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi-bold);
    }

    .cart-item-details p {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
    }

    .cart-total {
        margin: 0;
        padding: 1rem;
        border: none;
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        border-radius: 8px;
    }

    .cart-item .cart-item-actions h3 {
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }

    .cart-item .cart-item-actions p {
        font-size: var(--smaller-font-size);
        font-weight: var(--font-medium);
    }
}