.cart-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.cart-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--border);
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    width: 80%;
    height: auto;
}

/* store item component */
.cart-item {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border);
    text-align: center;
}

.cart-item .image-store {
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.cart-item .cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cart-total {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 1rem;
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--border);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
}

.cart-total .value {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-total hr {
    height: 1px;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    font-size: 0;
    border: 0;
}

.cart-total .checkout {
    width: 100%;
    flex-direction: flex-end;
    padding: 0.75rem;
    background-color: var(--bright-blue);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .cart-card {
        box-shadow: none;
        margin: 0;
        margin-top: 1rem;
        padding: 1rem 0;
        width: 100%;
        height: auto;
    }

}