<div class="main-content">
    <h1 class="heading-page">YOUR CART</h1>

    <p *ngIf="!curUserCart">Cart not loaded</p>
    <p *ngIf="curUserCart?.items?.length === 0" class="message error">Cart is empty</p>

    <div class="cart-container">
        <div class="cart-card">
            <div *ngFor="let item of curUserCart?.items" class="cart-item">
                <img [src]="'assets/image/products/' + item.product.imageUrl" alt="{{item.product.imageUrl}}"
                    class="image-store" />
                <div class="cart-item-details">
                    <h3>{{ item.product.name }}</h3>
                    <p><b>color : </b>{{ item.product.color }}</p>
                </div>
                <div class="cart-item-actions">
                    <div class="cartCount">
                        <div class="num-in" style="margin-bottom: 1rem;">
                            <span role="button" (click)="removeProductFromCart(item.product.id ?? 0)">
                                <ng-container *ngIf="(item.quantity ?? 0) > 1; else deleteIcon">-</ng-container>
                                <ng-template #deleteIcon>
                                    <fa-icon class="cartDelete" [icon]="delete"></fa-icon>
                                </ng-template>
                            </span>
                            <input type="text" class="in-num" [value]="item.quantity ?? 0" readonly>
                            <span role="button" (click)="addProductToCart(item.product.id ?? 0)">+</span>
                        </div>
                    </div>
                    <h3>{{ item.price | currency:'INR':'symbol' }}</h3>
                    <p style="text-decoration: line-through;color: #a1a1aa;">MRP {{ item.originalPrice |
                        currency:'INR':'symbol' }}</p>
                </div>
            </div>
        </div>
        <div class="cart-total">
            <h3>Summary</h3>
            <p><b>Total Number of Items : </b>{{ curUserCart?.totalCartCount }}</p>
            <hr>
            <div class="value">
                <b>Cart Total : </b>{{ curUserCart?.total| currency:'INR':'symbol' }}
            </div>
            <div class="value">
                <b>Delivery charge : </b>{{ 100 | currency:'INR':'symbol' }}
            </div>
            <div class="value">
                <b>Total Amount : </b>{{ ((curUserCart?.total ?? 0)+(100)) | currency:'INR':'symbol' }}
            </div>
            @if(deliveryCharges=== 0){
            <div class="value">
                <b>Delivery Discount : </b>{{ -100 | currency:'INR':'symbol' }}
            </div>}
            <hr>
            <div class="value">
                <b>Sub Total : </b>
                {{ ((curUserCart?.total ?? 0) + (deliveryCharges)) | currency:'INR':'symbol' }}
            </div>
            <button class="main-btn checkout">Checkout</button>
        </div>
    </div>
</div>