/* profile.component.css */
.tabs {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.tab {
    cursor: pointer;
    user-select: none;
    outline: none;
    padding: .5rem 2rem;
    border-radius: 8px;
    font-size: .9rem;
    text-align: center;
    animation: fadeIn .3s ease-out;
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    font-weight: var(--font-semi-bold);
}

.tab:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}

.tab.active {
    background: color-mix(in srgb, var(--electric-violet) 30%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.panel {
    padding: 1rem;
    background: var(--bg);
}

.info-right{
    text-align: center;
    font-size: var(--h3-font-size);
}

/*========== USER PROFILE ==========*/
/*===== Addresses =====*/

.add_address_button {
    background: var(--accent);
    border: 1px solid var(--border);
    margin: 10px 0 0 20px;
    padding: 8px 15px;
    color: var(--bg);
    border-radius: 8px;
    cursor: pointer;
}

.address-list-container {
    padding: 20px;
}

.address-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.address-card {
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 300px;
}

.address-card:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}
.action-buttons {
    margin-top: 12px;
}

.action-buttons button {
    margin-right: 8px;
    padding: 6px 12px;
    border: none;
    background-color: #4f46e5;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.action-buttons button:last-child {
    background-color: #ef4444;
}