.tabs {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.tab {
    cursor: pointer;
    user-select: none;
    outline: none;
    padding: var(--mb-1) var(--mb-4);
    border-radius: 8px;
    font-size: .9rem;
    text-align: center;
    animation: fadeIn .3s ease-out;
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    font-weight: var(--font-semi-bold);
}

.tab:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}

.tab.active {
    background: color-mix(in srgb, var(--electric-violet) 30%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.panel {
    padding: 1rem;
    background: var(--bg);
}

.info-right {
    text-align: center;
    font-size: var(--h3-font-size);
}

/*========== USER PROFILE ==========*/
/*===== Addresses =====*/

.add_address_button {
    background: var(--accent);
    border: 1px solid var(--border);
    margin: 10px 0 0 20px;
    padding: 8px 15px;
    color: var(--bg);
    border-radius: 8px;
    cursor: pointer;
}

.address-list-container {
    padding: 20px;
}

.address-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.address-card {
    background: var(--bg);
    color: #2b069a;
    border: 1px solid #b2b1b3;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 300px;
}

.address-card:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
    color: #2b069a;
    border: 1px solid #a686ef;
}

.address-card h3 {
    color: var(--gray-900);
    font-size: var(--h1-font-size);
    line-height: 15px;
    margin: 10px;
    margin-left: 0;
}

.address-card P {
    color: var(--gray-700);
    font-size: var(--normal-font-size);
    padding: 2px;
}

.action-buttons {
    margin-top: 12px;
}

.action-buttons button {
    padding: 6px 12px;
    border: none;
    background-color: var(--bg-btn);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.action-buttons button:last-child {
    float: inline-end;
    background-color: #ef4444;
}

@media screen and (max-width: 550px) {
    .tabs {
        width: 100%;
        margin: var(--mb-2) var(--mb-1);
        display: flex;
        gap: var(--mb-1);
    }

    .tab {
        padding: 0.2rem var(--mb-1);
        border-radius: 8px;
        font-size: 0.8rem;
        animation: fadeIn .3s ease-out;
    }

    .address-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .address-card {
        margin: 0;
        max-width: 90vw;
        border: none;
    }

    .address-card h3 {
        font-size: var(--h3-font-size);
        line-height: 12px;
        margin: 6px;
        margin-left: 0;
    }

    .address-card P {
        font-size: var(--medium-font-size);
    }

}

/*========== USER ORDERS ==========*/
.order-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: var(--mb-4);
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mb-2) var(--mb-4);
    border-bottom: 1px solid var(--border);
    background: color-mix(in srgb, var(--french-violet) 7%, transparent);
}

.upper-section .upper-left,
.upper-section .upper-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.upper-section .upper-left .order-info {
    display: flex;
    flex-direction: column;
}

.order-info h4 {
    color: var(--primary);
    text-transform: uppercase;
}

.order-summary h3 {
    font-size: var(--h3-font-size);
    color: var(--gray-900);
    font-weight: var(--font-semi-bold);
}

.order-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mb-2);
}

.order-item-container {
    padding: var(--mb-1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid var(--border);
}

.order-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.order-item-container .order-item:last-child {
    border-bottom: none;
}

.order-item .image-store {
    width: 150px;
    object-fit: contain;
    border-radius: 12px;
}

.order-item .order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: var(--mb-2);
    text-align: left;
}

.order-item .order-item-details p {
    color: var(--gray-700);
}

.order-support {
    display: flex;
    flex-direction: column;
    gap: var(--mb-2);
    min-width: 170px;
}

.order-support>*:not(:first-child) {
    background: none;
    color: var(--accent);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-in-out;
    text-transform: none;
    letter-spacing: normal;
    font-weight: var(--font-medium);
}

.order-support>*:not(:first-child):hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: var(--error);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
}


.utility-btn {
    font-size: var(--normal-font-size);
}

.button-container {
    position: relative;
    display: block;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    max-width: 350px;
    z-index: 100;
    margin-top: 5px;
    background: var(--bg);
    border: 1px solid var(--accent);
    color: var(--gray-700);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}