<table class="seller-order">
    <thead>
        <th class="text-center">Order Date</th>
        <th class="text-left">Order Details</th>
        <th class="text-center">Image</th>
        <th class="text-center">Product Name</th>
        <th class="text-center">Delivery</th>
        <th class="text-center">Order Status</th>
        <th class="text-center">Action</th>
    </thead>
    <tbody class="table-hover">
        <tr *ngFor="let order of ordersBySection; let i = index" [style.--delay]="(i + 1) * 0.2 + 's'">
            <td class="text-left hoverable">
                <div class="animate-content text-center">
                    <h4>{{ order.order.createdAt | date: 'dd-MM-yy' }}</h4>
                </div>
            </td>
            <td class="text-left hoverable">
                <div class="animate-content">
                    Order#{{ order.order.id }} <br> SKU- {{ order.item.id }}
                    <h4>Billing Address</h4>
                    <div class="button-container" #triggerRef>
                        <a (mouseenter)="showAddress(i)" (mouseleave)="hideAddress()">{{
                            order.shippingAddress.userName }}</a>
                        @if(activeShippingAddress === i){
                        <div class="popup">
                            <h3>{{ order?.shippingAddress?.userName }}</h3>
                            <p> {{ order?.shippingAddress?.flatNo }} <br> {{
                                order?.shippingAddress?.addressLine1 }}
                                <span *ngIf="order?.shippingAddress?.addressLine2">, {{
                                    order?.shippingAddress?.addressLine2
                                    }}</span>
                            </p>
                            <p>{{ order?.shippingAddress?.state }}, {{ order?.shippingAddress?.country }} -
                                {{
                                order?.shippingAddress?.zipCode }}</p>
                            <p>Mobile: {{ order?.shippingAddress?.phoneNumber }}</p>
                        </div>}
                    </div>
                </div>
            </td>
            <td class="text-center hoverable">
                <div class="animate-content">
                    <img [src]="'assets/products/' + order.item.product.imageUrl" alt="Product Image" height="50" />
                </div>
            </td>
            <td class="text-left hoverable">
                <div class="animate-content">
                    {{ order.item.product.name }}</div>
            </td>
            <td class="text-center hoverable">
                <div class="animate-content">
                    Standard</div>
            </td>
            <td class="text-center hoverable order-item-status">
                <div class="animate-content">
                    @switch (order.item.status) {
                    @case ("PENDING") {
                    <p class="order-status pending">{{ order.item.status }}</p>
                    }
                    @case ("RECIEVED") {
                    <p class="order-status received">{{ order.item.status }}</p>
                    }
                    @case ("CANCELLED") {
                    <p>{{ order.item.status }}</p>
                    }
                    @case ("SHIPPED") {
                    <p>{{ order.item.status }}</p>
                    }
                    @default {
                    <div>Default</div>
                    }
                    }
                </div>
            </td>
            <td class="text-center order-action">
                <div class="animate-content">
                    @if(order.item.status === "PENDING"){
                    <button class="table-btn yes-btn" (click)="confirmOrder(order)">
                        <span>Recieve Order</span>
                    </button>
                    <button class="table-btn no-btn">
                        <span>Cancel Order</span>
                    </button>
                    }
                    @if(order.item.status === "RECIEVED"){
                    <button class="table-btn yes-btn" (click)="confirmShipment(order)">
                        <span>Confirm Shipment</span>
                    </button>
                    <button class="table-btn" (click)="generateOrderInvoice(order)">
                        <span>Print Invoice</span>
                    </button>
                    <button class="table-btn no-btn">
                        <span>Cancel Order</span>
                    </button>
                    }
                </div>
            </td>
        </tr>

    </tbody>
</table>