.tabs {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid var(--border);
}

.tab {
    cursor: pointer;
    user-select: none;
    outline: none;
    margin: var(--mb-1) var(--mb-4);
    margin-bottom: 0;
    padding: var(--mb-1) 0 var(--mb-2) 0;
    font-size: .9rem;
    text-align: center;
    color: var(--primary);
    font-weight: var(--font-semi-bold);
}

.tab:hover {
    background: color-mix(in srgb, var(--electric-violet) 5%, transparent);
}

.tab.active {
    border-bottom: 3px solid #a686ef;
    font-weight: var(--font-bold);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    animation: fadeIn 1.3s ease-out;
}

.panel {
    padding: 1rem;
    background: var(--bg);
}

.info-right {
    font-size: var(--h3-font-size);
    word-spacing: var(--mb-2);
}

.seller-order {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

.seller-order th {
    color: var(--white-text);
    background: var(--dark-text);
    border: 1px solid var(--border);
    border: none;
    border-bottom: 4px solid var(--bg-btn);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-normal);
    padding: var(--mb-1);
}

.seller-order th:first-child {
    border-left: none;
    border-top-left-radius: 8px;
}

.seller-order th:last-child {
    border-right: none;
    border-top-right-radius: 8px;
}

.seller-order tr {
    color: var(--gray-900);
    border: none;
    border-bottom: 1px solid var(--border);
    opacity: 0;
    animation: fadeInRow 0.5s ease-in forwards;
}

table tr:nth-child(1) {
    animation-delay: 0.2s;
}

table tr:nth-child(2) {
    animation-delay: 0.4s;
}

table tr:nth-child(3) {
    animation-delay: 0.6s;
}

table tr:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fadeInRow {
    to {
        opacity: 1;
    }
}

.seller-order tr:hover td.hoverable {
    color: var(--gray-400);
    background: var(--hover-bg);
}

.seller-order td {
    background: var(--bg-white);
    padding: var(--mb-1);
    vertical-align: middle;
    font-size: var(--normal-font-size);
}

.seller-order tr :nth-child(6) {
    align-items: center;
}

.seller-order tr :nth-child(6) p {
    color: var(--error);
    font: 1em sans-serif;
    font-weight: var(--font-semi-bold);
}

.button-container {
    position: relative;
    display: block;
    cursor: pointer;
}

.button-container a {
    color: var(--accent);
    text-decoration: underline;
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    max-width: 350px;
    z-index: 100;
    margin-top: 5px;
    background: var(--bg);
    color: var(--gray-700);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.order-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--mb-1);
    transition: all 0.3s ease;
    font-family: var(--inter-font);
}

.order-action button {
    width: 140px;
}