.product-list {
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

.product img {
    width: auto;
    max-width: 190px;
    height: auto;
    max-height: 140px;
    object-fit: cover;
}

.prod_detail {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-rating {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
}

.error {
    color: var(--error);
    text-align: center;
    margin-top: 1rem;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right,
            rgba(169, 3, 41, 1) 0%,
            rgba(196, 72, 72, 1) 44%,
            rgba(170, 34, 56, 1) 100%);
    color: #fff;
    padding: 2px 10px;
    font-size: var(--smallest-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.product {
    position: relative;
    height: 300px;
    width: 220px;
    text-align: center;
    background-color: var(--bg);
    margin: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    transition-duration: 0.9s;
}

.product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.24);

    .myBtn {
        background-color: var(--hover);
    }
}

.prod_detail h3 {
    text-align: center;
    font-size: var(--normal-font-size);
    margin: 0;
    padding: 12px 0;
}

.prod_detail p {
    text-align: center;
    color: var(--text-dark);
    padding: 0 8px;
}

.prod_detail h6 {
    font-size: 18px;
    text-align: center;
    color: #222f25;
    margin: 5px 0;
}

.viewProduct {
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white-text);
    cursor: pointer;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}