<div class="main-content">
    <div [ngClass]="{ 'product-list': true, loading: loading }">
        <ul *ngIf="!loading" class="product-grid">
            <div class="product" *ngFor="let product of products">
                <div class="badge" *ngIf="product.isOnSale">HOT SALE</div>

                <img [src]="'assets/image/products/' + product.imageUrl" alt="Product Image" />

                <div class="prod-detail">
                    <h3>{{ truncateName(product.name) }}</h3>

                    <div class="star-rating" *ngIf="product.rating !== undefined && product.rating > 0.5">
                        <svg *ngFor="let n of maxStars" class="star" viewBox="0 0 24 24">
                            <defs>
                                <linearGradient [id]="'grad-' + product.id + '-' + n" x1="0" x2="100%" y1="0" y2="0">
                                    <stop offset="0%" stop-color="orange" />
                                    <stop [attr.offset]="getFill(n, product.rating)" stop-color="#F55E0B" />
                                    <stop [attr.offset]="getFill(n, product.rating)" stop-color="#888" />
                                    <stop offset="100%" stop-color="#888" />
                                </linearGradient>
                            </defs>
                            <path [attr.fill]="'url(#grad-' + product.id + '-' + n + ')'"
                                d="M12 2l2.9 6.9L22 9.3l-5 5 1.2 7.7L12 18l-6.2 4 1.2-7.7-5-5 7.1-0.4L12 2z" />
                        </svg>
                    </div>
                    <h2>₹{{ product.price }}</h2>
                    <button class="cart">Add To Cart</button>
                <button class="viewProduct" (click)="viewProduct(product.id)">view product</button>
                </div>
            </div>
        </ul>

        <div *ngIf="error" class="error">{{ error }}</div>
    </div>
</div>