<div class="main-content">
    <div class="form-overlay">
        <div class="form-container" style="text-align: center;">
            <div [ngSwitch]="headingType">
                <h1 *ngSwitchCase="'addProduct'">ADD NEW PRODUCT</h1>
                <h1 *ngSwitchCase="'updateProduct'">UPDATE PRODUCT</h1>
            </div>
            <br />
            <form [formGroup]="productForm" (ngSubmit)="submit()">
                <div class="input-group">
                    <input type="text" formControlName="name" placeholder="Product Name" />
                </div>
                <div class="input-group">
                    <textarea formControlName="description" placeholder="Description"></textarea>
                </div>
                <div class="input-group">
                    <input type="number" formControlName="price" placeholder="Price" />
                </div>
                <div class="input-group">
                    <input type="number" formControlName="discPrice" placeholder="Discounted Price" />
                </div>
                <div class="input-group">
                    <input type="text" formControlName="category" placeholder="Category" />
                </div>
                <div class="input-group">
                    <input type="text" formControlName="imageUrl" placeholder="imageUrl" />
                </div>
                <div class="input-group">
                    <input type="number" formControlName="quantity" placeholder="Quantity" />
                </div>
                <div class="input-group">
                    <input type="text" formControlName="brand" placeholder="Brand" />
                </div>
                <div class="input-group">
                    <input type="text" formControlName="color" placeholder="Color" />
                </div>
                <br />
                <div *ngIf="successMessage" class="message success">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="message error">{{ errorMessage }}</div>
                <button type="submit" class="main-btn">
                    {{ headingType === 'updateProduct' ? 'Update' : 'Add' }} Product
                </button>
            </form>
        </div>
    </div>
</div>