<div class="form-overlay">
  <div class="sign-container">
    <div class="form-container">
      <h1>Seller Sign Up</h1>
      <p class="subtitle">Sign up to get started</p>

      <form #sellerForm="ngForm" (ngSubmit)="signUp(seller)">
        <div class="input-group">
          <input type="text" [(ngModel)]="seller.name" name="name" placeholder="Name" required #nameRef="ngModel">
        </div>

        <div class="input-group">
          <input type="email" [(ngModel)]="seller.email" name="email" placeholder="Your Email" required #emailRef="ngModel">
        </div>

        <div class="input-group">
          <input type="text" [(ngModel)]="seller.phoneNo" name="phno" placeholder="Your Phone No." required #phNoRef="ngModel">
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="seller.password" name="password" placeholder="Create Password" required #passwordRef="ngModel">
        </div>

        <div class="input-group">
          <input type="password" [(ngModel)]="seller.confirmPassword" name="confirmPassword" placeholder="Confirm Password" required #confirmPasswordRef="ngModel">
        </div>

        <!-- Single error handler -->
        @if (showError(nameRef, emailRef, phNoRef)) {
        <p class="message error">
          {{ getErrorMessage(nameRef, emailRef, phNoRef) }}
        </p>
        }

        <p *ngIf="passwordMismatch" class="message error">Passwords do not match!</p>
        <p *ngIf="seller.password && !isPasswordValid(seller.password)" class="message error">
          Password must contain uppercase, lowercase, number, and special character.
        </p>
        <p *ngIf="seller.password && !isPasswordLong(seller.password)" class="message error">
          Password is not long enough.
        </p>

        <p *ngIf="seller.password && isPasswordValid(seller.password) && isPasswordLong(seller.password) && !passwordMismatch"
          class="message success">
          Valid Password.
        </p>

        <button type="submit" [disabled]="sellerForm.invalid" class="main-btn" style="margin-bottom: 1rem;">CREATE AN
          ACCOUNT</button>
        <p *ngIf="duplicateSeller" class="message error">{{ duplicateSeller }}</p>

        <p class="login-link">
          Already have an account?
          <a routerLink="/log-in" class="login-link">LOG IN</a>
        </p>
      </form>
    </div>
  </div>
</div>