.breadcrumb {
    font-size: var(--noraml-font-size);
    margin: var(--mb-2) var(--mb-3) var(--mb-1) 5rem;
}

.breadcrumb .links {
    color: var(--gray-400);
    text-decoration: none;
}

.breadcrumb .base-link {
    color: var(--gray-700);
}

.product-detail {
    width: 1350px;
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    padding: var(--mb-2) var(--mb-6);
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    gap: 30px;
}

.product-images {
    flex: 1 1 350px;
    border-right: 1px solid var(--border);
    margin-right: var(--mb-1);
    padding-right: var(--mb-1);
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail-images img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-info {
    flex: 1 1 670px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.product-info .brand {
    font-size: var(--normal-font-size);
    color: var(--gray-400);
    margin-bottom: var(--mb-1);
}

.product-info .product-name {
    font-family: 'titles', sans-serif;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-3);
    color: var(--gray-900);
}

.product-info .main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-section,
.right-section {
    display: flex;
    gap: var(--mb-1);
    align-items: center;
}

.action-table tr {
    color: var(--dark-text);
}

.action-table td {
    background: var(--bg-white);
    text-align: left;
    vertical-align: top;
    font-size: var(--medium-font-size);
}

.action-table td :first-child {
    padding: 4px;
}

.discPrice {
    font-family: 'aldivaro', sans-serif;
    font-size: var(--big-font-size);
    color: var(--gray-900);
}

.product-info .price {
    font-size: var(--normal-font-size);
    color: var(--gray-400);
    text-decoration: line-through;
}

.options {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.option-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.option-buttons {
    display: flex;
    gap: 10px;
}

.option-buttons button {
    padding: 10px 20px;
    border: 1px solid #e6e6e6;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.option-buttons button.active {
    border-color: var(--border);
    background: var(--primary);
    color: #fff;
    font-weight: bold;
}


.tabs {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.tabs button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.tabs button.active {
    border-color: #000;
    font-weight: bold;
}

.tab-content {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    line-height: 1.8;
}

.additional-info {
    font-size: 14px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

/* Actions */
.actions_wrraper {
    flex: 1 1 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--mb-2);
    align-items: center;
    border-left: 1px solid var(--border);
    padding-left: var(--mb-2);
}

.actions {
    display: flex;
    gap: 10px;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.reviews p {
    font-size: 14px;
    margin-bottom: 10px;
}

.related-products {
    margin-top: 40px;
}

.related-products h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.related-products .product {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}

.related-products img {
    width: 100%;
    border-radius: 8px;
}

.related-products p {
    margin-top: 10px;
    font-size: 14px;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #777;
}

footer a {
    color: #555;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    footer {
        margin-top: 0px;

    }

    .reviews {
        text-align: center;
        margin-top: 0;
    }

    .related-products {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-images,
    .product-info {
        flex: none;
        width: 100%;
    }

    .product-info h1 {
        font-size: 22px;

    }

    .price {
        font-size: 24px;

    }

    .actions_wrraper {
        display: flex;
        border-bottom: 1px solid #ddd;
        flex-direction: column;
        padding-bottom: 20px;

    }

    .actions {
        margin-top: 20px;
    }

    .action-buttons {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quantity-section {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .wishlist {
        justify-content: center;
    }

    .tabs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .thumbnail-images img {
        width: 50px;
        height: 50px;
    }


}