<div [ngClass]="{ 'product-list': true, loading: loading }">
    <div>
        @if (!loading) {
        <ul class="product-grid">
            <app-product-card *ngFor="let product of products" [product]="product" [wishList]="wishList"
                (wishToggled)="toggleWish($event)" (showProduct)="viewProduct($event)">
            </app-product-card>
        </ul>
        }
    </div>
    @if (products.length === 0 && !loading) {
    <div class="nowishlist">
        <h2 class="message error">There are no items in your wishlist.</h2>
    </div>
    }@if (error) {
    <div class="error">{{ error }}</div>}
</div>